.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.navbar navbar-expand-lg bg-body-tertiary {
    background-color: #f8f9fa;
}

.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #dc3545;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #dc3545;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.hero-section {
    position: relative;
    height: 700px;
    overflow: hidden;
    padding: 20px;
}

.hero-video,
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-fluid.mb-4 {
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}


.video-overlay {
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.hero-video {
    z-index: 0;
}

.hero-text {
    position: relative;
    z-index: 2;
    color: #000000;
    padding-top: 80px;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    font-weight: 700;
}

.about-text {
    position: relative;
    z-index: 2;
    color: #ffffff;
    padding-top: 80px;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    font-weight: 700;
}

.about-section {
    background-image: url("../images/about-us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 780px;
    padding-bottom: 80px;
}

.about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    z-index: 1;
}

.about-section .container {
    position: relative;
    z-index: 2;
}