.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.navbar navbar-expand-lg bg-body-tertiary {
    background-color: #f8f9fa;
}

.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #dc3545;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #dc3545;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}